@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');
@import 'variables', 'resets';

body {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Anek Tamil', monospace;
  font-size: 18px;
}

.title {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

main {
  flex-grow: 1;
}

.main-ui {
  display: flex;
  gap: 1rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: $inputColor;
  border-radius: 1rem;

  &__input {
    border: none;
    padding: 1rem;
    background-color: transparent;

    &:focus {
      outline: $hoverColor;
    }
  }

  &__select {
    border: none;
    padding: 1rem;
    background-color: transparent;

    option {
      background-color: $inputColor;
    }
  }

  &__btn {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px $hoverColor solid;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: $hoverColor;
    }
  }
}

.tasks-list {
  padding-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  &__item {
    display: flex;
    align-items: center;
    transition: 700ms;
    padding-left: 0.5rem;

    .done-btn,
    .delete-btn {
      font-size: 1.5rem;
      padding: 1rem;
      border: none;
      cursor: pointer;
    }

    .done-btn {
      background-color: $doneBtnColor;
      margin-left: auto;
    }

    .delete-btn {
      background-color: $deleteBtnColor;
    }
  }
}

.show-tasks-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px $hoverColor solid;
  background-color: $inputColor;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: $hoverColor;
  }
}

.removed-task {
  background-color: $deleteBtnColor;
  transform: translateY(10rem);
  opacity: 0.1;
}

.done-task {
  background-color: $doneBtnColor;
  transform: translateY(10rem);
  opacity: 0.1;
}
