@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');
@import 'variables', 'resets';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Anek Tamil', sans-serif;
  font-size: 18px;
}

.title {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: $inputColor;
  border-radius: 1rem;

  &__input {
    border: none;
    padding: 1rem;
    background-color: transparent;

    &:focus {
      outline: $hoverColor;
    }
  }

  &__btn {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px $hoverColor solid;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: $hoverColor;
    }
  }
}

.tasks-list {
  padding-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  &__item {
    margin-right: auto;
    padding-left: 0.5rem;
  }

  &__div {
    display: flex;
    align-items: center;
    transition: 700ms;

    .done-btn,
    .delete-btn {
      font-size: 1.5rem;
      padding: 1rem;
      border: none;
      cursor: pointer;
    }

    .done-btn {
      background-color: $doneBtnColor;
    }
    .delete-btn {
      background-color: $deleteBtnColor;
    }
  }
}

.removing {
  transform: scale(0.1);
  opacity: 0.1;
}
.completing {
  opacity: 0.1;
}
